@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Unbounded", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Unbounded";
}
html {
	width: 100vw;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

h1 {
	@apply text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl;
}

h2 {
	@apply text-xl tracking-normal md:text-2xl lg:text-3xl;
}

p {
	@apply mx-auto max-w-[700px] md:text-xl;
}
